* {
  font-family: "Fredoka", sans-serif;
}

#introduzione {
  text-align: center;
}

#introduzione h1 {
  padding: 15px;
  color: #e53170;
  font-size: 40px;
}

#introduzione p {
  padding: 15px;
  font-size: 20px;
}